<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>
            Discover
            <br>
            New Zealand
        </h1>
        <p>
            Your next adventure starts here.
            <br>
            AI-powered trip planning made easy.
        </p>

        <div class="search-box">

            <input 
                type="text" 
                placeholder="Search for destinations, places, or activities..." 
                [value]="destination"
                />
        </div>
    </div>
</section>